.form{
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;

}
.input{
  font-size: 17px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  color: #1d2129;
  background-color: #fff ;
  height: 22px;
  width: 332px;
}
.horizontalline{
    border-bottom: 1px solid #DADDE1;
    margin: 10px 16px;
    text-align: center;
    font-size: 12px;
}
.btn_login{
    background-color: #0866ff;
    border: none;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 366px;
    color: #fff;
    border-radius: 6px;
    font-weight: 700;
    text-align: center; 
     cursor: pointer;
     margin-top: 6px;
}
.forgotten_password{
text-align: center;
color: #0866ff;
margin-top: 5px;
font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  line-height: 1.34;
}
.btn_create_new_account{
    background-color: #42b72a;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0 16px;
    margin: 10px 85px;
    cursor: pointer;
    

}

.create_btn{
  color: black;
  text-decoration: none;
  font-weight: 600;
}