.h1{
    height: 106px;
    border: 0px;
    margin: -28px;
    /* font-size: 55px; */
}
.h2{
    font-family: SFProDisplay-Regular,Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  width: 500px;
  margin-top: 10px;
  padding: 0 0 20px;
  color: #1c1e21;
  /* margin: 0px; */
}
.header_container{
    margin-bottom: 150px;
    margin-right: 105px;
}