
*{
   /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
.parent{
  display: flex;
 flex-direction: column;
 align-items: center;
 gap: 25px;
 /* margin-bottom: 55px; */
}
.container{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  padding-top: 150px;
  padding-right: 55px;
  background: #f2f4f7;
  
  
}
li{
  font-size: 14px;
  color: #737373;
}


.headerform{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.footer{
  margin-top: 160px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


